@using PU.Recipe.Models
@model List<PU.Recipe.Models.UserModel>



@{
    int rowCount = 0;
    ViewBag.Title = "";
    if (ViewBag.Roll == "Admn")
    {
        Layout = "~/Views/Shared/_MainPageAdmn.cshtml";
    }
    else if (ViewBag.Roll == "Chef")
    {


        Layout = "~/Views/Shared/_MainPage.cshtml";
    }
    else
    {

        Layout = "~/Views/Shared/_userMainPage.cshtml";
    }

}

<link href="~/Content/mproductlist.css" rel="stylesheet" />
<link href="~/Content/clientscriptingdemo.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/RecipeRow.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {


        $("#createLink").click(function (event) {
            event.preventDefault();
            $.ajax(
                {
                    url: "/manageproducts/create",
                    success: function (result) {
                        $("#createDialog").html(result);
                    },
                    failure: function () {
                    }
                }
            );
            $("#createDialog").dialog(
                {
                    title: "Create Product",
                    modal: true,
                    width: 600,
                    position:
                    {
                        my: "left top",
                        at: "right bottom",
                        of: "#createLink"
                    }
                }
            );


        });

        $(".mpDetailsLink").click(function (event) {
            event.preventDefault();
            var dLnk = $(this);
            var myurl = $(this).attr("href");
            $.ajax(
                {
                    url: myurl,
                    success: function (result) {
                        $("#detailsDialog").html(result);
                    },
                    failure: function () {
                    }
                }
            );
            $("#detailsDialog").dialog(
                {
                    title: "Product Details",
                    modal: true,
                    width: 600,
                    position:
                    {
                        my: "right top",
                        at: "left bottom",
                        of: dLnk
                    }
                }
            );


        });



        $("#loginSection").hide();
        $("#loginLink").click(function (event) {
            event.preventDefault();
            $("#loginSection").slideToggle(1000);
        });

        $(".textbox").blur(function () {
            if ($(this).val() == 0) {
                $(this).addClass("textboxError");
            }
            else {
                $(this).removeClass("textboxError");
            }
        });

        $("#loginForm").submit(function () {
            var result = true;
            if ($("#loginId").val() == 0) {
                $("#loginId").addClass("textboxError");
                result = false;
            }
            if ($("#password").val() == 0) {
                $("#password").addClass("textboxError");
                result = false;
            }
            return result;
        });



        $(".mpDataRow").hover(function () {
            $(this).toggleClass("mpSelectedRow");
        });

        $(".mpAlternateDataRow").hover(function () {
            $(this).toggleClass("mpSelectedRow");
        });
    });
</script>





<h2>Fan Club List </h2>

@*<div>
    @foreach (var item in Model)
    {
        @item.Role <br />
        @item.FName
    }
</div>
///////////////////*@

@foreach (var item in Model)
{
    string rowStyle = "mpDataRow";
    rowCount++;
    if (rowCount % 2 == 0)
    {
        rowStyle = "mpAlternateDataRow";
    }

    <div class='@rowStyle'>
        
        <div class="mpNameCol">
            @item.FName  @item.LName
        </div>
        <div class="mpDescriptionCol">
           


        </div>

        <div class="mpImageActions">
            <div style="float:left; width:480px; color:red; ">
                <form action="@Url.Action("FanClub", "Recipe")" method="post">
                    <p class="loginFieldControl">
                        <input type="hidden" value=@item.UserID name="Fid" />
                        <input type="submit" value="Go to fan Club " class="loginButton" style="margin-left:20px" />
                    </p>


                </form>
            </div>

        </div>

    </div>



}

<div style="clear:both;"></div>
